<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <!--<welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>-->
    <jsp-config>
        <jsp-property-group>
            <description>header and footer settings</description>
            <url-pattern>/index.jsp</url-pattern>
            <url-pattern>/WEB-INF/view/Home.jsp</url-pattern>
            <url-pattern>/WEB-INF/view/Search.jsp</url-pattern>
            <url-pattern>/WEB-INF/view/Login.jsp</url-pattern>
            <url-pattern>/WEB-INF/view/Register.jsp</url-pattern>
            <url-pattern>/WEB-INF/view/Upload.jsp</url-pattern>
            <url-pattern>/WEB-INF/view/Edit.jsp</url-pattern>
            <url-pattern>/WEB-INF/view/EditAbout.jsp</url-pattern>
            <include-prelude>/WEB-INF/jspf/header.jspf</include-prelude>
            <include-coda>/WEB-INF/jspf/footer.jspf</include-coda>
        </jsp-property-group>
    </jsp-config>
    <filter>
        <filter-name>ProtectPages</filter-name>
        <filter-class>uk.ac.dundee.computing.aec.instagrin.filters.ProtectPages</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ProtectPages</filter-name>
        <url-pattern>/Home</url-pattern>
         <url-pattern>/Home/Edit</url-pattern>
        <url-pattern>/Upload</url-pattern>
        <url-pattern>/Images</url-pattern>
        <url-pattern>/Images/*</url-pattern>
        <url-pattern>/Edit</url-pattern>
         <url-pattern>/EditAbout</url-pattern>
        <url-pattern>/Search</url-pattern>

    </filter-mapping>
    <!--     <servlet-mapping>
          <servlet-name>Home</servlet-name>
          <url-pattern>/Home</url-pattern>
      </servlet-mapping>
      <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
     </servlet-mapping>
      <servlet-mapping>
    <servlet-name>test</servlet-name>
    <url-pattern>/test</url-pattern>
     </servlet-mapping>-->
</web-app>

